@media screen and (max-width: 425px) {

.buttons{
    display: none;
}
}

@media screen and (min-width: 426px) {

    .movie {
        height: 150px;
        overflow: hidden;
    }
    
    #background {
        margin: -750px 0px 0px -200px;
    }

    .title {
        display: grid;
    }

    .subtitle {
        display: block;
    }
    
    
    nav i.fas.fa-bars {
        display: none
    }

    .innerText h1 {
        font-size: 3.4em;
    }

    .menu, .menu ul, .menu li {
        display: none;
    }

    #cardGrid {
        grid-template-columns: 1fr 1fr;
    }

    /* .card {
        height: 150px;
    } */

    /* .title {
        display: grid;
    } 
    
    .innerText {
        display: flex;
    } 
    
    .innerText h1, h4 {
        display: block;
    } */

    
    
}


@media screen and (min-width: 564px) {

  



 }

 @media screen and (min-width: 769px) {

    
    .movie {
        height: 200px;
        overflow: hidden;
    }
    
    #background {
        margin: -700px 0px 0px 0px;
    }
    
    nav img {
        display:none;
    }


    nav i.fab.fa-rebel {
        display: none;
    }

    li i.fab.fa-rebel {
        display:inline;
    
    }

    .profile img {
        /* display: inline; */
        border: 4px solid black;
    }

    .innerText h1 {
        font-size: 4.2em;
    }

    #cardGrid {

        grid-template-columns: 1fr 1fr 1fr;  
    }

    .blurb p {
        font-size: 2em;
    }

    #bioGrid {
        max-width: 1000px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    
    }

    #picOne {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    #picThree {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .bio h2, .bio p, 
    .bio i.far.fa-hand-point-left,
    .bio i.far.fa-hand-point-right {
        margin: 0;
    }

    .bio p {
       

    }

    .bio {
       height: 100%;
       width: 100%;
    }
    
    .pic {
        justify-self: stretch;
        align-self: center;
      
    }

    .bio i.far.fa-hand-point-down {
        display: none;
    }

    .bio i.far.fa-hand-point-left,
    .bio i.far.fa-hand-point-right {
        display: inline;

    }

    .mission p {
        font-size: 1.5em;
    }
    
    .pic img {
        
    }

    #contactGrid {
        grid-template-columns: 1fr 1fr;
    }

    #contactText h2, #contactText a {
        font-size: 1.6em;
    }

    #contactImg {
        font-size: 10em;
    }

    #icons {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        font-size: 5em;
    }


 }