body {
    background-color: #333333;
}

nav img {
    display: none;
    height: 55px;
    width: 55px;
    border: 2px solid white;
    border-radius: 50%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
}

nav i.fas.fa-bars {
    color: white;
    font-size: 3em;
}

nav i.fab.fa-rebel {
    font-size: 3em;
    color: white;
}

.buttons {
    display: flex;
    align-content: center;
    flex-grow: 1;
    padding: 2px;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex-grow: 1;
}

li {
    color: white;
    padding: 10px;
    font-size: .8em;
}

li i.fab.fa-rebel {
    display:none;

}

.menu {
    display: none;
    background-color: black;
    
}

.menu ul {
    display: block;
    padding: 0px;
}

.menu li {
    border: 1px solid #dbdbdd;
}

.title {
    background-color: #dbdbdd;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 10px;
}

.profile img {
    display: none;
    height: 12em;
    width: 12em;
    border: 2px solid white;
    border-radius: 50%;
}

.innerText {
    display: flex;
    align-items: center;
}

.innerText h1 {
    font-size: 2.7em;
}


h4 {
    text-align: center;
    color: white;
    background-color: black;
}

main {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto 25% 25%;
}

.hello {
    display: flex;
    justify-content: center;
    grid-column: 2 / 3;
}

main img {
    height: 125px;
    width: 125px;
    border: 2px solid purple;
    border-radius: 50%;

}

.mission {
    grid-column: 2/3;
    grid-row: 2/3;
}

.elements {
    display: flex;
    grid-row: 3/4;
    grid-column: 2 / 3;
}

.element {
    height: 30px;
    width: 30px;
    grid-row: 3/4;
}

#fire i {
    color: red;
    font-size: 4em;
}

#water i {
    color: blue;
    font-size: 4em;
}

#earth i {
    color: green;
    font-size: 4em;
}

#air i {
    color: white;
    font-size: 4em;
}

.mission {
    text-align: center;
}

p {
    color: white;
    font-size: 1em;
}
