/* * {
    border: 1px solid white;
} */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    background-color: black;
    margin: 0 auto;
}

.movie {
    height: 100px;
    overflow: hidden;
}

#background {
    margin: -800px 0px 0px -300px;
}

.content {
    /* position: absolute; */
    /* z-index: 2; */
}

nav img {
    display: none;
    height: 55px;
    width: 55px;
    border: 2px solid white;
    border-radius: 50%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
}

nav i.fas.fa-bars {
    color: white;
    font-size: 3em;
}

nav i.far.fa-gem {
    display: none;
    font-size: 3em;
    color: white;
}

.buttons {
    display: flex;
    align-content: center;
    flex-grow: 1;
    padding: 2px;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex-grow: 1;
}

li {
    color: white;
    padding: 10px;
    font-size: .8em;
}

li i.fab.fa-rebel {
    display:none;

}

.menu {
    display: none;
    background-color: black;
    
}

.menu ul {
    display: block;
    padding: 0px;
}

.menu li {
    border: 1px solid #dbdbdd;
}

.title {
    background-color: #dbdbdd;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 10px;
}

.profile img {
    display: none;
    height: 12em;
    width: 12em;
    border: 2px solid white;
    border-radius: 50%;
}

.innerText {
    display: flex;
    align-items: center;
}

.innerText h1 {
    font-size: 2.7em;
}


h4 {
    text-align: center;
    color: #333333;
    background-color: #333333;
}

.container {
    /* padding: 20px; */
}

.main {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto 1fr 1fr auto;
    margin-top: 80px;
    /* grid-gap: 20px; */
    justify-items: center;
}

.hello {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 125px;
    width: 125px;
    border: 2px solid white;
    border-radius: 50%;
    overflow: hidden;
}

main img {
    height: 100%;
    width: auto;

    /* border: 2px solid white;
    border-radius: 50%; */

}

.mission {
    grid-column: 1 / span 3;
    grid-row: 3/4;
    text-align: center;
}

#fire {
    grid-row: 1;
    grid-column: 1;
    justify-content: space-around;
    color: red;
}

#water {
    grid-row: 1;
    grid-column: 3;
    justify-content: space-around;
    color: #45aeff;
}

#earth {
    grid-row: 4;
    grid-column: 1;
    justify-content: space-around;
    color: #7dd31f;
    padding-top: 20px;
}

#air {
    grid-row: 4;
    grid-column: 3;
    justify-content: space-around;
    color: #ffa502;
    padding-top: 20px;
}

.element {
    height: 100px;
    width: 100px;
    text-align: center;
    justify-self: center;
}


#fire span {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#fire span i {
    color: red;
    font-size: 4em;
}


#water span {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#water span i {
    color: #45aeff;
    font-size: 4em;
}

#earth span {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#earth span i {
    color: #7dd31f;
    font-size: 4em;
}

#air span {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#air span i {
    color: #ffa502;
    font-size: 4em;
}

#air span p, #water span p {
    /* width:fit-content; */
}

.mission p {
    font-family: 'Kaushan Script', cursive;
    line-height: 2em;
}

.element p {
    /* writing-mode: vertical-rl; */
    color: inherit;
    text-orientation:upright;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.2em;
    margin: 0;
    /* background-color: #333333; */
}

p {
    color: white;
    font-size: 1em;
}

#skillsGrid {
    border: 3px solid red;
}

#cardGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 80px;
    grid-gap: 20px;
    justify-items: center;
    padding: 20px;
}

.card {
    justify-self: stretch;
    align-self: stretch;
    border: 6px solid #7dd31f;
    margin: 0;
}

.card img {
    height: 100%;
    width: 100%;
    border-radius: 0px;
    filter: grayscale(100);
    position: relative;

}

.card img:hover {
    filter: none;
}

.card:hover .button1 {
    display: inline;
}

.card:hover .button2 {
    display: inline;
}

.card:hover .blurb {
    display: none;
}



.button1 {
    display: none;
    background-color: #00000088;
    width:fit-content;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    border-radius: 4px;
}

.button2 {
    display: none;
    background-color: #00000088;
    width:fit-content;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 4px;
}

.button1 a, .button2 a {
    text-decoration: none;
    color: white;
}

.blurb {
    position: absolute;
    background-color: #00000088;
    bottom: 0px;
    width: 100%;
}

.blurb p{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1em;
}

#bioGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 80px;
    grid-gap: 20px;
    justify-items: center;
    /* background-color: #333333; */
    padding: 20px;
    margin: 0 auto;
}

.bio {
    display: flex;
    flex-direction:column;
    height: 100%;
    width: 100%;
    /* border: 6px solid #45aeff; */
    margin: 0;
}



.pic {
    height: fit-content;
    width: fit-content;
    justify-self: stretch;
    align-self: stretch;
    border: 6px solid #45aeff;
    background-color: #45aeff;
    margin: 0;
}

.pic img {
    opacity: 0;
    border-radius: 0px;
    width: 100%;
    height: 100%;
}

.pic img:hover {
    opacity: 1;
}
.bio h2 {
    color: #45aeff;
    text-align: center;
}

.bio p {
    text-align: center;
    font-size: 1.4em;
}

.bio i.far.fa-hand-point-down {
    color: #45aeff;
    font-size: 4em;
    text-align: center;
}

.bio i.far.fa-hand-point-left,
.bio i.far.fa-hand-point-right {
    display: none;
    color: #45aeff;
    font-size: 4em;
    text-align: center;

}

#contactGrid {
    border: 3px solid #ffa502;
}

footer {
    margin-top: 300px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

footer i {
    color: white;
    margin: 10px;
    font-size: 2em;
}